dash>=4.4.1,<5
dash-bootstrap-components>=2.0.4,<3
plotly>=6.8,<7
orjson>=3.11,<4
numpy>=1.26,<3
pandas>=2.3,<3
xarray>=2025.6,<2026
netcdf4>=1.6.5,<2
waitress>=2,<4
boto3>=1.42,<2
constructs~=10.4.2
pyarrow>=24,<25
awswrangler>=3.16,<4
scipy>=1.15,<2
matplotlib>=3.10,<4
flask-caching>=2.3,<3
